<section class="banner">
  <div class="container">
    <div class="banner__inner">
      <div class="banner__left">
        <div class="banner__title title">
          Доска бесплатных объявлений
        </div>

        <div class="banner__text">
          Здесь удобно искать товары и услуги, недвижимость и работу в несколько кликов!
        </div>

        <a class="banner__link link" href="#">
          <span class="link__text">Все объявления</span>

          <div class="link__btn"></div>
        </a>
      </div>

      <img class="banner__img" src="images/banner-bg.png" alt="">

      <div class="banner__benefits">
        <div class="banner__like">
          <img class="banner__like-img" src="sprite/sprite.svg#like" alt="">
        </div>

        <div class="banner__subtitle">
          Наши преимущества
        </div>

        <ul class="banner__list">
          <li class="banner__item">
            1 млн аудитория
          </li>

          <li class="banner__item">
            Публикация бесплатно
          </li>

          <li class="banner__item">
            Активно до 100 дней
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>