<section class="categories">
  <div class="container">
    <div class="categories__wrapper">
      <div class="categories__prev">
        <img class="categories__arrow" src="sprite/sprite.svg#arrow-black" alt="предыдущая категория">
      </div>

      <div class="categories__inner swiper-container">
        <ul class="categories__list swiper-wrapper">
          <li class="categories__item swiper-slide">
            <a href="#" class="categories__link">
              <img class="categories__img" src="images/categories-swiper/categories-swiper2.png" alt="Вакансии">

              <span class="categories__text">
                Вакансии
              </span>
            </a>
          </li>

          <li class="categories__item swiper-slide">
            <a href="#" class="categories__link">
              <img class="categories__img" src="images/categories-swiper/categories-swiper3.png" alt="Услуги">

              <span class="categories__text">
                Услуги
              </span>
            </a>
          </li>

          <li class="categories__item swiper-slide">
            <a href="#" class="categories__link">
              <img class="categories__img" src="images/categories-swiper/categories-swiper4.png" alt="Личные вещи">

              <span class="categories__text">
                Личные вещи
              </span>
            </a>
          </li>

          <li class="categories__item swiper-slide">
            <a href="#" class="categories__link">
              <img class="categories__img" src="images/categories-swiper/categories-swiper5.png" alt="Недвижимость">

              <span class="categories__text">
                Float
              </span>
            </a>
          </li>

          <li class="categories__item swiper-slide">
            <a href="#" class="categories__link">
              <img class="categories__img" src="images/categories-swiper/categories-swiper1.png" alt="Транспорт">

              <span class="categories__text">
                Транспорт
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="categories__next">
        <img class="categories__arrow" src="sprite/sprite.svg#arrow-black" alt="следующая категория">
      </div>

      <a href="#" class="categories__all link">
        <div class="link__text">
          Все категории
        </div>

        <div class="link__btn">

        </div>
      </a>
    </div>
  </div>
</section>