<section class="recomendation">
  <div class="container">
    <div class="recomendation__title title">
      Рекомендации для вас
    </div>

    <div class="recomendation__inner">
      <ul class="recomendation__items">
        <li class="recomendation__item cart">
          <div class="cart__top swiper-container">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper1.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper2.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper3.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper4.jpg" alt="">
                </li>
              </ul>

              <div class="cart__pagination"></div>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  Женские кожаные сумки Boyy c ручками
                </div>

                <div class="cart__cost">
                  10 000
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>

        <li class="recomendation__item cart">
          <div class="cart__top">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper2.jpg" alt="">
                </li>

                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper1.jpg" alt="">
                </li>

                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper3.jpg" alt="">
                </li>

                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper4.jpg" alt="">
                </li>
              </ul>

              <div class="cart__pagination"></div>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  Jaguar I-Pace, 2021
                </div>

                <div class="cart__cost">
                  10 000
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>

        <li class="recomendation__item cart cart--active">
          <div class="cart__top">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper3.jpg" alt="">
                </li>

                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper2.jpg" alt="">
                </li>

                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper1.jpg" alt="">
                </li>

                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper4.jpg" alt="">
                </li>
              </ul>

              <div class="cart__pagination"></div>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  Женские кроссовки Nike air Force
                </div>

                <div class="cart__cost">
                  10 000
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>

        <li class="recomendation__item cart cart--large">
          <div class="cart__top">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large1.jpg" alt="">
                </li>

                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large2.jpg" alt="">
                </li>

                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large3.jpg" alt="">
                </li>

                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large1.jpg" alt="">
                </li>

                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large2.jpg" alt="">
                </li>

                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large3.jpg" alt="">
                </li>
              </ul>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  Opel Vivaro, 2021
                </div>

                <div class="cart__cost">
                  2 106 900
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>

        <li class="recomendation__item cart">
          <div class="cart__top">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper1.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper2.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper3.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper4.jpg" alt="">
                </li>
              </ul>

              <div class="cart__pagination"></div>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  Женские кожаные сумки Boyy c ручками
                </div>

                <div class="cart__cost">
                  10 000
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>

        <li class="recomendation__item cart">
          <div class="cart__top">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper4.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper2.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper3.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper1.jpg" alt="">
                </li>
              </ul>

              <div class="cart__pagination"></div>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  1-к. квартира, 18 м², 3/11 эт.
                </div>

                <div class="cart__cost">
                  11 000 000
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>

        <li class="recomendation__item cart">
          <div class="cart__top">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper2.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper1.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper3.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper4.jpg" alt="">
                </li>
              </ul>

              <div class="cart__pagination"></div>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  Jaguar I-Pace, 2021
                </div>

                <div class="cart__cost">
                  10 000
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>

        <li class="recomendation__item cart cart--active">
          <div class="cart__top">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper3.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper2.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper1.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper4.jpg" alt="">
                </li>
              </ul>

              <div class="cart__pagination"></div>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  Женские кроссовки Nike air Force
                </div>

                <div class="cart__cost">
                  10 000
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>

        <li class="recomendation__item cart cart--large">
          <div class="cart__top">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large1.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large2.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large3.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large1.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large2.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper-large3.jpg" alt="">
                </li>
              </ul>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  Opel Vivaro, 2021
                </div>

                <div class="cart__cost">
                  2 106 900
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>

        <li class="recomendation__item cart">
          <div class="cart__top">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper1.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper2.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper3.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper4.jpg" alt="">
                </li>
              </ul>

              <div class="cart__pagination"></div>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  Женские кожаные сумки Boyy c ручками
                </div>

                <div class="cart__cost">
                  10 000
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>

        <li class="recomendation__item cart">
          <div class="cart__top">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper2.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper1.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper3.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper4.jpg" alt="">
                </li>
              </ul>

              <div class="cart__pagination"></div>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  Jaguar I-Pace, 2021
                </div>

                <div class="cart__cost">
                  10 000
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>

        <li class="recomendation__item cart">
          <div class="cart__top">
            <div class="cart__inner">
              <ul class="cart__list swiper-wrapper">
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper4.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper2.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper3.jpg" alt="">
                </li>
                <li class="cart__box swiper-slide">
                  <img class="cart__img" src="images/recomendation-swiper1.jpg" alt="">
                </li>
              </ul>

              <div class="cart__pagination"></div>
            </div>
          </div>

          <div class="cart__line"></div>

          <div class="cart__bottom">
            <div class="cart__wrapper">
              <div class="cart__left">
                <div class="cart__subtitle">
                  1-к. квартира, 18 м², 3/11 эт.
                </div>

                <div class="cart__cost">
                  11 000 000
                </div>
              </div>

              <div class="cart__right">
                <div class="cart__location">
                  <img class="cart__location-img" src="sprite/sprite.svg#location" alt="местоположение">

                  Рига
                </div>

                <div class="cart__date">
                  14 сентября 10:29
                </div>
              </div>
            </div>


            <div class="cart__info">
              <div class="cart__text">
                Своевременное обслуживание. Пройдено ТО. Весь комплект ключей и документов. Птс оригинал..
              </div>

              <a class="cart__message btn-blue" href="#">
                <img class="cart__message-img" src="sprite/sprite.svg#message-white" alt="Написать">

                Написать
              </a>

              <a class="cart__favorite" href="#">
                <img class="cart__favorite-img" src="sprite/sprite.svg#favorite" alt="добавить в избранное">
                <img class="cart__favorite-img cart__favorite-img--active" src="sprite/sprite.svg#favorite-fill"
                  alt="добавить в избранное">
              </a>
            </div>
          </div>
        </li>
      </ul>

      <div class="recomendation__advertising advertising">
        <div class="advertising__our advertising-block">
          <div class="advertising__our-inner">
            <div class="advertising__our-title">
              Снижаем цены на приоритетные объявления
            </div>

            <div class="advertising__our-text">
              Публиковать объявления теперь еще выгоднее! Показы чаще, продажи быстрее
            </div>

            <a class="advertising__our-link link link--white">
              <span class="link__text">Подробнее</span>

              <div class="link__btn"></div>
            </a>
          </div>

          <img class="advertising__our-img" src="images/advertising-star.png" alt="">
        </div>

        <div class="advertising__other advertising-block">
          <a class="advertising__other-link" href="#">
            <div class="advertising__other-wrapper">
              <img class="advertising__other-img" src="images/advertising-img.png" alt="фото рекламы">
            </div>

            <div class="advertising__other-content">
              <div class="advertising__other-title">
                Stendū вакансии
              </div>

              <div class="advertising__other-text">
                Тысячи предложений о работе рядом с домом!
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>