<div class="blurbs">
  <div class="container">
    <div class="blurbs__inner">
      <div class="blurb">
        <a class="blurb__ref" href="#">
          <img class="blurb__img" src="images/blurb1.jpg" alt="">

          <div class="blurb__content">
            <div class="blurb__title">
              Разные черты внедорожного характера
            </div>

            <div class="blurb__text">
              Автомобили в наличии в салонах официальных диллеров Chevrolet
            </div>
          </div>
        </a>
      </div>

      <div class="blurb">
        <a class="blurb__ref" href="#">
          <img class="blurb__img" src="images/blurb1.jpg" alt="">

          <div class="blurb__content">
            <div class="blurb__title">
              Разные черты внедорожного характера
            </div>

            <div class="blurb__text">
              Автомобили в наличии в салонах официальных диллеров Chevrolet
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="blurb blurb--large">
      <img class="blurb__img" src="images/blurb2.jpg" alt="">

      <div class="blurb__content">
        <div class="blurb__title">
          Разные черты внедорожного характера
        </div>

        <div class="blurb__text">
          Автомобили в наличии в салонах официальных диллеров Chevrolet
        </div>

        <a class="blurb__link" href="#">
          <span class="blurb__link-text">Подробнее</span>

          <img class="blurb__link-img" src="sprite/sprite.svg#arrow-blue " alt="Подробнее">
        </a>
      </div>
    </div>
  </div>
</div>