<footer class="footer">
  <div class="container">
    <ul class="footer__top">
      <li class="footer__item">
        <div class="footer__subtitle">
          Транспорт
        </div>

        <ul class="footer__list">
          <li class="footer__elem">
            <a class="footer__link" href="#">Легковые авто</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Запчасти и аксессуары</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Мото</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Коммерческий транспорт</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Водный транспорт</a>
          </li>
        </ul>
      </li>

      <li class="footer__item">
        <div class="footer__subtitle">
          Недвижимость
        </div>

        <ul class="footer__list">
          <li class="footer__elem">
            <a class="footer__link" href="#">Купить</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Снять</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Посуточно</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Запрос на недвижимость</a>
          </li>
        </ul>
      </li>

      <li class="footer__item">
        <div class="footer__subtitle">
          Личные вещи
        </div>

        <ul class="footer__list">
          <li class="footer__elem">
            <a class="footer__link" href="#">Одежда, обувь, аксессуары</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Детская одежда, обувь</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Товары для детей</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Красота и здоровье</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Часы и украшения</a>
          </li>
        </ul>
      </li>

      <li class="footer__item">
        <div class="footer__subtitle">
          Услуги
        </div>

        <ul class="footer__list">
          <li class="footer__elem">
            <a class="footer__link" href="#">Перевозки, транспорт</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Ремонт, строительство</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Ремонт техники</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Красота и здоровье</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Уборка, дезинсекция</a>
          </li>
        </ul>
      </li>

      <li class="footer__item">
        <div class="footer__subtitle">
          Работа
        </div>

        <ul class="footer__list">
          <li class="footer__elem">
            <a class="footer__link" href="#">Вакансии</a>
          </li>

          <li class="footer__elem">
            <a class="footer__link" href="#">Резюме</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="footer__bottom">
      <a class="footer__logo logo" href="index.html">
        <img class="logo__img" src="sprite/sprite.svg#logo" alt="логотип">
      </a>

      <nav class="footer__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#" class="menu__link">Все объявления</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">Авто</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">Недвижимость</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">Работа</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">Услуги</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">Еще</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">О компании</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">Контакты</a>
          </li>

          <li class="menu__item">
            <a href="#" class="menu__link">Помощь</a>
          </li>
        </ul>
      </nav>

      <ul class="footer__social social">
        <li class="social__item">
          <a class="social__link" href="#">
            <img class="social__img" src="sprite/sprite.svg#social-PA" alt="личный кабинет">
          </a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">
            <img class="social__img" src="sprite/sprite.svg#social-message" alt="сообщения">
          </a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">
            <img class="social__img" src="sprite/sprite.svg#social-notification" alt="уведомления">
          </a>
        </li>

        <li class="social__item">
          <a class="social__link" href="#">
            <img class="social__img" src="sprite/sprite.svg#social-favorite" alt="избранное">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>